.contenedor-trabajo {
    width: 250px;
    height: 350px;
    /* border: 1px solid black; */
    background-color: #19323C;
    color: white;

    /* Sombra */
    -webkit-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);

    padding: 5px;
    margin: 1px;

}

.contenedor-trabajo p, h2 {
    padding: 3px;
}

.imagen-trabajo {
    width: 100%;
}
